{% extends "registration_email_base.html" %}
{% block heading %}PPIS Policy Innovation Challenge Registration Confirmation{% endblock %}
{% block greeting %}Dear Innovator,{% endblock %}
{% block confirmation %}We are pleased to confirm that your registration for the <strong>PPIS Policy Innovation Challenge</strong> has been successfully completed.{% endblock %}
{% block updates_wording %}updates{% endblock %}
{% block next_step_extra %}
                <li style="margin-bottom:6px;">You will receive another email including the complete competition guidelines, timeline, and other details.</li>
{% endblock %}
{% block closing %}We look forward to seeing your innovative ideas at PPIS!{% endblock %}
